In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
blue = pd.read_csv('H:\My Drive\Formacion\Data Science\Financial\FinancialPF\CSVs\Blue.csv')
CER = pd.read_csv('H:\My Drive\Formacion\Data Science\Financial\FinancialPF\CSVs\CER.csv')
MEP = pd.read_csv('H:\My Drive\Formacion\Data Science\Financial\FinancialPF\CSVs\MEP.csv')
TaxedD = pd.read_csv('H:\My Drive\Formacion\Data Science\Financial\FinancialPF\CSVs\TaxedDollar.csv')

In [12]:
df = blue.merge(MEP, on='Date', how= 'left', suffixes=['blue'], sort=True)
df = df.merge(CER, on='Date', how= 'left', suffixes=['Value_CER'], sort=True) # If we had updated CER values, we'd use Right method, to keep latest values of CER
df = df.merge(TaxedD, on='Date', how= 'left', suffixes=['_MEP','_Taxed'], sort=True)
df.rename(columns={'Buy':'blue_Buy', 'Sell':'blue_Sell'}, inplace=True)

In [13]:
df.Date = pd.to_datetime(df.Date, format='%d-%m-%Y')

In [15]:
df.sort_values('Date')

,Date,blue_Buy,blue_Sell,Value_MEP,CER,UVA,UVI,Value_Taxed
22,2019-01-02,38.50,40.50,NaN,12.363806,31.06,30.71,NaN
48,2019-01-03,38.25,40.25,NaN,12.376375,31.22,30.82,NaN
74,2019-01-04,38.00,40.00,NaN,12.388957,31.25,30.84,NaN
150,2019-01-07,37.50,39.50,NaN,12.426779,31.29,30.86,NaN
176,2019-01-08,37.25,39.25,NaN,12.439412,31.38,30.92,NaN
...,...,...,...,...,...,...,...,...
20,2021-11-01,192.50,196.50,179.22,NaN,NaN,NaN,173.83
45,2021-11-02,193.50,197.50,179.32,NaN,NaN,NaN,173.84
71,2021-11-03,195.00,199.00,180.07,NaN,NaN,NaN,173.88
96,2021-11-04,195.00,199.00,180.56,NaN,NaN,NaN,173.91
123,2021-11-05,195.00,199.00,181.26,NaN,NaN,NaN,173.99